img {
	margin-top: -2%;
	height: auto;
	width: auto;
}

.flutua_direita{
	float: right;
}

.container{
	margin-top: 100px;
}

.img-fluid{
	margin-top: 20px;
}



.embed-responsive-16by9{
	width: 800px;
}